/* Index.html */
.Cabeçalho{
    text-align: center;
    background-color: antiquewhite;
}

.menu{
    display: flex;
    flex-direction: column;
}

.banner{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
li{
    list-style-type: none;
}

/* Produtos.html */


@media (min-width: 0px) and (max-width: 800px ){

    .Cabeçalho2{
        display: grid;
        grid-template-columns: 1fr;
        background-color: antiquewhite;
        text-align: center;
        gap: 5px;
        padding: 20px;
        margin: 10px;
        border: 5px solid black;
    }

    .Cabeçalho2 > img{
        width: 300px;
        height: 210px;
        float: right;
        border: 3px solid black;
    }
}

@media (min-width: 801px) and (max-width:1400px){
    .Cabeçalho2{
        display: grid;
        grid-template-columns: 1fr, 1fr;
        background-color:bisque;
        text-align: center;
        gap: 5px;
        padding: 20px;
        margin: 10px;
        border: 5px solid black;
    }

    .Cabeçalho2 > img{
        width: 300px;
        height: 210px;
        margin-left: 440px;
        border: 3px solid black;
    }
}

@media (min-width: 1401px) and (max-width: 2000px){
    .Cabeçalho2{
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        background-color: beige;
        text-align: center;
        gap: 5px;
        padding: 20px;
        margin: 10px;
        border: 5px solid black;
    }

    .Cabeçalho2 > img{
        width: 300px;
        height: 210px;
        margin-left: 620px;
        border: 3px solid black;
    }
}

/* Contato.html */


